body{ 
    background: #E8F6D9;
}
@media (min-width: 600px){
    body {
        background: #ffffff;
    }
}

nav {
    display: flex;
    padding: 50px 0px 0px 0px;
    margin: 0px;
    background: #B0D785;
    
}


.logo-contain img {
   display: flex;
   padding-left: 0.5em;
   padding-top: 2.5em;
   position: relative;
   align-items: center;


}
@media (min-width: 500px) {
    .logo-contain img {
        text-align: center;
}
}
    
li {
    display: flex;
    flex-direction: column;
    text-align: right;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: underline;
    
}
@media (min-width: 600px){
    li {
      flex-direction: row;
    }     
}
a {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    display: inline-block;
    color:#5D8D2A;
    font-size: 16px;
    padding-right: 25px;
   
}

a:hover {
    background: #E8F6D9;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #5D8D2A;
    
}

h3 {
    color: #000000;
    text-align: center;
    text-decoration: underline #000000;
    font-family: 'Fjalla One', sans-serif;
}

p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 40px;

}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 600px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        height: auto;
    }
}

main img {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    text-align: center;
    padding-left: 6em;
    
}

article {
    background: #B0D785;
}


figure img {
    display:inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: -4px;
    padding-top: 20px;
}

figcaption {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
    margin-top: -4px;
}


h4 {
    font-family: 'Fjalla One', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #B0D785;
    height:fit-content;
    width: auto;
}

footer.a {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

